{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}},
    % {erlang_fcm, {git, "https://github.com/2600hz/erlang-fcm.git", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {tivan, {git, "https://gitlab.com/arknode.io/tivan.git", {branch, "master"}}}
]}.

{relx, [{release, {hoolva_chat, {cmd, "scripts/version"}},
         [hoolva_chat
         ,tivan
         ,jsx
        %  ,erlang_fcm
         ,lager
        %  ,bifrost
        %  ,sasl
        ]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true}]}.

{erl_opts, [debug_info]}.
